@model WebApp.FilmesAPI.Models.FilmeMOD

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>FilmeMOD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.backdrop_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.backdrop_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homepage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homepage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdb_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdb_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.original_language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.original_language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.original_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.original_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.popularity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.popularity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poster_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poster_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.release_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.release_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tagline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tagline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vote_average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vote_average)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vote_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vote_count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
